<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Weather App</title>
        <link rel="stylesheet" href="./css/style.css" />
        <link rel="icon" href="./img/weather.png" />
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Created by Jagadeeswara Reddy M, this site uses MapBox.com and weatherstack.com</p>
            <img src="img/MJR_PIC.jpg" alt="me" class="aboutImg" />
        </div>

        {{>footer}}
    </body>

</html>
