<header>
    <h1>{{title}}</h1>
    <a href="/" class="{{home_active}}">Home</a>
    <a href="/about" class="{{about_active}}">About</a>
    <a href="/help" class="{{help_active}}">Help</a>
</header>
